Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  bugprone-*,
  portability-*,
  readability-*,
  misc-*,

  google-default-arguments,
  google-build-namespaces,
  google-runtime-operator,
  hicpp-multiway-paths-covered,
  hicpp-signed-bitwise,
  llvm-namespace-comment,
  cppcoreguidelines-virtual-class-destructor,
  cppcoreguidelines-special-member-functions,

  -modernize-use-nodiscard,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -performance-noexcept-move-constructor,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-container-data-pointer,
  -readability-suspicious-call-argument,
  -readability-implicit-bool-conversion,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cppcoreguidelines-special-member-functions,
  -misc-unconventional-assign-operator,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion


# Also check the header files
HeaderFilterRegex: ".*"


# List of warnings to treat as errors during the build
WarningsAsErrors: >
  *,
  clang-analyzer-*,
  portability-*,
  bugprone-assignment-in-if-condition,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-forwarding-reference-overload,
  bugprone-incorrect-roundings,
  bugprone-move-forwarding-reference,
  bugprone-reserved-identifier,
  bugprone-undefined-memory-manipulation,
  bugprone-use-after-move,
  google-default-arguments,
  google-build-namespaces,
  performance-move-const-arg,
  performance-no-automatic-move,
  performance-move-constructor-init,
  readability-container-contains,
  readability-deleted-default,
  readability-misleading-indentation,
  readability-static-definition-in-anonymous-namespace,
  misc-definitions-in-headers,
  misc-throw-by-value-catch-by-reference


# Specify options for the checks where the default isnt good
CheckOptions:
  - { key: hicpp-signed-bitwise.IgnorePositiveIntegerLiterals,				value: true }
  - { key: readability-implicit-bool-conversion.AllowIntegerConditions,		value: true }
  - { key: bugprone-narrowing-conversions.IgnoreConversionFromTypes,		value: difference_type;ptrdiff_t;size_type;size_t;bool }
  - { key: readability-braces-around-statements.ShortStatementLines,		value: 2 }
  - { key: bugprone-easily-swappable-parameters.ModelImplicitConversions,	value: false }
