# VSCode
.vscode/

# Visual Studio
.vs/
*.hint

# Build results
build/*
out/
install/
*.exe

# Doc outputs
docs/api/doxygen-out
docs/api/sphinx-out
docs/api/latex
docs/*.txt
refs/

# Test results
tools/mo_results/*.txt
