# VSCode
.vscode/

# Visual Studio
.vs/
*.hint

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
out/
build/*
!build/*.sh
*.exe

# Doc outputs
docs/html/
docs/*.txt
refs/

# Test results
test/mo_results/*.txt

# Python
__pycache__/
