name: linux

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        build-type: [ Debug, Release ]
        compiler: [
            { cxx: g++-11, pkgs: gcc-11 libtbb-dev },
            { cxx: g++-12, pkgs: gcc-12 libtbb-dev },
            { cxx: clang++-14, pkgs: clang-14 libtbb-dev },
            { cxx: clang++-15, pkgs: clang-15 libtbb-dev },
        ]
        lib-type: [
            { name: Static, cmake-flag: "OFF" },
            { name: Shared, cmake-flag: "ON"  },
        ]
        
    defaults:
      run:
        working-directory: ${{ github.workspace }}/build

    name: ${{ matrix.compiler.cxx }}, ${{ matrix.build-type }}, ${{ matrix.lib-type.name }}

    steps:
    - name: checkout-repo
      uses: actions/checkout@v3

    - name: setup-compiler
      run: sudo apt update && sudo apt install -y ${{ matrix.compiler.pkgs }}

    - name: setup-catch
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: sudo bash ./install_catch.sh

    - name: setup-build
      env:
        CXX: ${{ matrix.compiler.cxx }}
      run: cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DGA_LINK_TBB=ON -DBUILD_SHARED_LIBS=${{ matrix.lib-type.cmake-flag }}

    - name: build
      run: cmake --build . --parallel
    
    - name: run-tests
      run: ctest --output-on-failure --schedule-random

    - name: install
      run: sudo cmake --install .
